nav {
  display: flex;
  background-color: #1d4491;
  border-bottom-style: solid; 
  border-bottom-color: MidnightBlue;
  border-bottom-width: 3px;
  font-family: sans-serif;
}

nav a, nav span {
  color: white;
  padding: 1em;
  margin: 0px;
  text-decoration: none;
}

nav #title {
  margin-left: auto;
  background-color: MidnightBlue;
}

nav a:hover {
  background-color: MidnightBlue;
}
body {
  background-image: url(/img/backgroundNoDots.jpg);
  background-size: cover;
  background-color: Ivory;
  margin: 0px;
}

article {
  margin: 30px;
}

h1 {
  color: MidnightBlue;
}

#bigtitle {
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;

}

footer {
  font-family: sans-serif;
  margin-top: 10em;
  border-top-style: solid;
  border-top-color: MidnightBlue;
  border-top-width: 3px;
  text-align: center;
  font-size: 12px;
}

#resources a {
  transition: 0.5s,border 0.5s,width,padding 0.5s;
  line-height: 2;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3.5em;
  color: #1d4491;
}

#resources a:hover {
  transition: 0.5s,border 0.5s,width,margin 0.5s;
  border-bottom-color: #1d4491;
  border-bottom-style: solid;
  border-bottom-width: 0.25em;
  letter-spacing: 0.05em;
  margin-left: 0.25em;
}
