<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<title>{{ page.title }}</title>
	</head>
	<body>		
		<nav>
			<a href="index.html">Home</a>
			<a href="about.html">About Us</a>
			<!-- what other links go here? -->
		</nav>
		<div class="container">
			<!-- content, as in the content of your .md files goes in here: -->
			{{ content }}
		
		</div>
	</body>
</html>
